

.grid_containerA{
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
  grid-auto-rows: minmax(5vw, auto);
  font-family: 'open sans';
}

.bimgbg {
  grid-column: 1/8;
  grid-row: 1/2;
  background-color: #2f2f2f;
}

.img{
  width: 100%;
  object-fit: cover;
  max-height: 100%;
  grid-column: 1/8;
  grid-row:  1/2;
  opacity: 0.625;
}

.internalTitle{
  text-align: left;
  grid-column: 2/6;
  grid-row: 10;
  margin-bottom: 1vw;
  font-family: 'montserrat';
}

.bussmodelTitle{
  text-align: left;
  grid-column: 2/3;
  grid-row: 5;
  margin-bottom: 1vw;
  font-family: 'montserrat';
}



h1 > span { 
   background:#fff; 
   padding:0 10px; 
}


.alignA{
  text-align: left;
}

.logoA{
  height: 250px;
  width: 250px;  
}

 .abt {
    text-align: center;
    color: white;
    font-size: 3vw;
    width:100%;
    z-index:98;
    grid-row: 1/2;
    grid-column: 4/5;
    position: relative;
    transform: translate(0%, 40%);
    font-family: 'montserrat';
  }

  .center{
    text-align: center;
    grid-column: 4/5;
    position: relative;
  }

.mission{
  text-align: left;
  color: black;
  width:100%;
  grid-column: 2/7;
  grid-row:  4;
  overflow: hidden;
  display: block;
}


.business_info{
  text-align: left;
  color: black;
  grid-column: 2/7;
  grid-row:  6;
}

.license {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto;
  grid-column: 2/7;
  grid-row: 9;
  grid-gap: 30px;
  padding: 10px;
}
.it1{
  grid-column: 1;
  grid-row: 1;
  text-align: left;
  text-decoration: underline;
}
.it2{
  grid-column: 1;
  grid-row: 2;
  text-align: left;
}
.it3{
  grid-column: 3;
  grid-row: 1;
  text-align: left;
  text-decoration: underline;
}
.it4{
  grid-column: 3;
  grid-row: 2;
  text-align: left;
}
.it5{
  grid-column: 3;
  grid-row: 3;
  text-align: left;
}

.ProjectsA{
  grid-column: 2/7;
  grid-row: 11;   
}

.pushDown{
  margin-bottom: 1vw;
  font-family: 'montserrat';
}

.timelineTitle{
  text-align: center;
  grid-column: 4;
  grid-row: 13;
  font-family: 'montserrat';
}

  .timeLine {
    text-align: center;
    color: black;
    grid-column: 1/8;
    grid-row: 14;   
    width: 100%;
    z-index:98;
  }

  .container {
    text-align: center;
    color: white;
  }

  .TimeText {
    color: black;
    text-align: center;
    font-size: 36px;
    z-index:98;
  }

 

  .tab {
    list-style: none;
    display: table; /* [1] */
    table-layout: fixed; /* [2] */
    width: 100%; /* [3] */
    z-index:98;
    background:black; color:whitesmoke;
  }

  .tabs__item .active a{background:black; color:whitesmoke;}

  .tabs__item {
    display: table-cell; /* [4] */
    width: 100%;
    text-align: center;
    z-index:98;
}

.imgTime {
  z-index: -10;
  filter: brightness(50%);
  width: 100%;
  object-fit: cover;
  max-height: 100%;
  opacity: 0.8;
  }

  .foundHeader{
    text-align: center;
    color: black;
    position: absolute;
    top: 195%;
    width: 100%;
  }

  .cards{
    text-align: center;
    position: relative;
    text-Align: 'center';
    display: inline-block;
    color: '#FFF';
    font-Family: 'sans-serif';
    font-Size: '30px';
    justify-Content: 'center';
  }

  .leaderCards{
    flex:1 0 200px;
     display: flex;
      justify-content: space-around;
     grid-column: 1/8;
     grid-row: 19;
  }

  .leaderTitle{
    text-align: center;
    grid-column: 4;
    grid-row: 18;
    font-family: 'montserrat';
  }

  .crdimg {
    display: block;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
  border-radius: 4px;
  padding: 5px;
  position: absolute;
  transform: translate(0%, 36px);
  border-radius: 300px;
  }

  .front {
    position: absolute;
    bottom: 10px;
    width: 100%;
    background-Color: #41669d;
    display: flex;
    align-Items: center;
    flex-Direction: row;
    color: white;
  }

  .sponsorTitle{
    text-align: center;
    grid-column: 4/5;
    grid-row: 21;
    font-family: 'montserrat';
  }

  .sponsorLogos {
    display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  grid-column: 1/8;
  grid-row: 22;
  grid-gap: 30px;
  padding: 10px;
  }

  .log1{
    grid-column: 2;
    grid-row: 1;
    height: 250px;
    width: 250px;
  }

  .log2{
    grid-column: 3;
    grid-row: 1;
    height: 250px;
    width: 250px;
  }

  .log3{
    grid-column: 4;
    grid-row: 1;
    height: 250px;
    width: 250px;
  }
