.leftcolumn {
    float: left;
    width: 50%;
}

.rightcolumn {
    float: right;
    padding: 10px;
    width: 50%;
}

.editor-element {
    position: relative;
    display: flexbox;
    width: auto;
    padding: 10px;
}

.uploadedimage {
    position: relative;
    width: auto;
    height: 150px;
}

.previous-list {
    padding-bottom: 2px;
}

.previous-divider {
    height: 10px;
}

.previous-release {
    display: inline-block;
    width: 100%;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    user-select: none;
    background-color: #007bff;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.previous-release:hover {
    display: inline-block;
    width: 100%;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    user-select: none;
    background-color:#0062cc;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}