.editior {
    position: relative;
    display: flexbox;
    padding-top: 20px;
    padding-left: 20px;
}
.leftcolumn {
    float: left;
}
.rightcolumn {
    float: right;
    padding-left: 40px;
}

.press-datepicker {
    position: relative;
    display: flexbox;
    width: auto;
    padding-bottom: 20px;
    padding-left: 20px;
}
.press-fileupload {
    position: relative;
    display: flexbox;
    width: auto;
    padding-bottom: 20px;
    padding-left: 20px;
}
.press-textarea {
    position: relative;
    display: flexbox;
    width: auto;
    padding-bottom: 20px;
    padding-left: 20px;
}
.press-postbutton {
    position: relative;
    display: flexbox;
    width: auto;
    padding-bottom: 20px;
    padding-left: 20px;
}
.press-uploadedimage {
    position: relative;
    width: auto;
    height: 150px;
    padding-bottom: 20px;
}

.previous-release {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.previous-release:hover {
    display: inline-block;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    user-select: none;
    background-color:#007bff;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}