.sidebar-sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    width: 150px;
    height: auto;
    padding-top: 20px;
    padding-left: 20px;
}
.press-datepicker {
    position: relative;
    display: flexbox;
    width: auto;
    padding-top: 20px;
    padding-left: 20px;
}
.press-fileupload {
    position: relative;
    display: flexbox;
    width: auto;
    padding-top: 20px;
    padding-left: 20px;
}
.press-textarea {
    position: relative;
    display: flexbox;
    width: auto;
    padding-top: 20px;
    padding-left: 20px;
}
.press-postbutton {
    position: relative;
    display: flexbox;
    width: auto;
    padding-top: 20px;
    padding-left: 20px;
}
.press-uploadedimage {
    position: relative;
    width: auto;
    height: 150px;
}