.social {
    padding-left: 10px;
    position: center;
    font-size: 1em;
    vertical-align: middle;
}

.footerClass {
    background-color: rgba(16,16,16,1);
    color: whitesmoke;
    position: relative;
    width: 100%;
    bottom: 0px;
}

.rowC {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    height: auto;
    padding: 8px;
}