.social {
    padding-left: 10px;
    position: center;
    font-size: 20px;
    vertical-align: middle;
    color: rgba(0,0,0,0.5);
}

.footerClass {
    background-color: whitesmoke;
    z-index: -5;
    position: relative;
    bottom: 0px;
}

.rowC {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    height: auto;
    padding: 8px;
}