.sidebar-sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    width: 200px;
    height: auto;
    padding: 20px;
    border-left: 24px solid white;
}

.divider{
    width:auto;
    height:5px;
    display:inline-block;
}