.sidebar-sticky {
    height: auto;
    width: auto;
    padding: 20px;
    background: white;
}

.sidebar-viewport {
    width: 15%;
    background: white;
}

.editor-viewport {
    width: 85%;
}

.divider{
    width:auto;
    height:5px;
    display:inline-block;
}