.sidebar-sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    width: 150px;
    height: auto;
    padding-top: 20px;
    padding-left: 20px;
}

.divider{
    width:auto;
    height:5px;
    display:inline-block;
}