.project-release {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
    margin: 50px auto 0;
}
.grid-containerP {
	display: grid;
	grid-auto-rows: minmax(2vw, auto);
	grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
	font-family: 'open sans';
}
.project-item {
	padding: 3vw;
	grid-column: 2/7;
}
.project-title {
	display: flex;
	justify-content: center;
	align-items: center;
}
.project-info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.project-info > img {
	flex: 1;
	padding: 1vw;
}
.project-info > td {
	flex: 3;
	padding: 2vw;
	text-align: justify;
}
.project-title > td > h2 {
	padding-left: 18vw;
	font-family: 'montserrat'
}
